@import "~bootstrap/scss/bootstrap";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

#login,
#landing {
  height: calc(100vh - 58px);
}

#login {
  background-image: url(../imgs/tomatoe.jpg);
  background-position: center;
  background-size: cover;
}

#landing {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/plants_aligned.jpg);
  background-position: center;
  background-size: cover;
}

#login .login-inner {
  background-image: url(../imgs/tomatoe_texture.jpg);
}

#Header .profile-picture {
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  #login,
  #landing {
    height: calc(100vh - 56px);
  }
}

.container {
  max-width: none !important;
}

.grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// Cart Dropdown

#Header {
  .badge {
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  .shopping-cart {
    display: none;
    margin: 15px 0;
    float: right;
    right: 0;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    z-index: 1;

    .seemore {
      padding-left: 5px;
    }

    li {
      list-style: none;
    }

    .shopping-cart-header {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 15px;

      .shopping-cart-total {
        float: right;
      }
    }

    .shopping-cart-items {
      padding: 0px;
      margin: 0;
    }
    .shopping-cart-item {
      width: 100%;
      margin: 5px 0;
      display: flex;
      flex-direction: row;

      .image-container {
        padding: 5px;
      }

      img {
        width: 60px;
      }

      .item-content {
        width: 100%;
        display: grid;
        grid-template-areas: "name name" "price quantity";

        p {
          margin: 0;
        }
      }

      .item-name {
        grid-area: name;
      }
      .item-price {
        grid-area: price;
        margin-top: auto;
      }
      .item-quantity {
        margin-top: auto;
        grid-area: quantity;
      }
    }

    .shopping-cart-buttons {
      display: flex;
      flex-direction: row;
      grid-gap: 20px;

      .button {
        width: 100%;
      }
    }
  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #212529;
    border-width: 8px;
    margin-left: -8px;
  }

  .cart-icon {
    //color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }

  .shopping-cart .button {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
  }
}

// END Cart Dropdown

// CART PAGE
#cart {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;

  .card {
    margin: 15vh auto auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  .card-header {
    background: #fff !important;
  }
  .card-header-item-count {
    text-align: right;
  }

  .cart-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .back-to-shop {
    padding-top: 2rem;
    margin-top: auto;
  }

  @media (max-width: 767px) {
    .card {
      margin: 3vh auto;
    }
  }

  @media (max-width: 767px) {
    .cart-content {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
    }
  }

  .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
  }

  @media (max-width: 767px) {
    .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem;
    }
  }

  .summary .col-2 {
    padding: 0;
  }

  .summary .col-10 {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .title b {
    font-size: 1.5rem;
  }

  .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
  }

  .col-2,
  .col {
    padding: 0 1vh;
  }

  a {
    padding: 0 1vh;
  }

  .close {
    margin-left: auto;
    font-size: 0.7rem;
  }

  img {
    width: 3.5rem;
  }

  h5 {
    margin-top: 4vh;
  }

  hr {
    margin-top: 1.25rem;
  }

  form {
    padding: 2vh 0;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
  }

  .btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    user-select: none;
    transition: none;
  }

  .btn:hover {
    color: white;
  }

  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }
}

.cart-item .cart-quantity {
  font-size: 18px;
  font-weight: normal;

  .cart-quantity-decrease {
    position: relative;
    bottom: 1px;
  }

  div {
    padding: 5px;
  }
}

.cart-item .cart-quantity-decrease,
.cart-item .cart-quantity-increase {
  cursor: pointer;
}

.cart-item .remove-product {
  cursor: pointer;
}

.empty-cart {
  height: calc(100vh - 70px);
  max-width: 600px;
  margin: auto;

  .icon-background {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .fa-shopping-basket {
    font-size: 30px;
  }
}

//about section

$gradient-start: rgb(132, 202, 148);
$gradient-end: rgb(37, 37, 37);

#about .about-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/about/about-lettuce.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.allSeed {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/product_page/allseed.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.flower {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/product_page/flower.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.fruit {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/product_page/orange.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.herb {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/product_page/herb.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.vegetable {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imgs/product_page/vegetable.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
.masthead-heading {
  font-size: 4rem;
  margin: auto;
  text-align: center;
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

/** Account Settings Page */
#account {
  max-width: 1200px;
  margin: auto;

  .widget-author {
    margin-bottom: 58px;
  }
  .author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
  }
  .author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../imgs/account/sunflower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
  }
  .author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
  }
  .author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
  }
  .author-card .author-card-profile .author-card-avatar,
  .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
  }
  .author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  .author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
  }
  .author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
  }
  .author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
  }
  .author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
  }
  .author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
  }
  .author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.11);
  }
  .btn-style-1.btn-white {
    background-color: #fff;
  }

  .mr-1,
  .mx-1 {
    margin-right: 0.25rem !important;
  }

  .list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: rgb(91, 150, 105);
    cursor: default;
    pointer-events: none;
  }
  .list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
  }

  .list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
  }

  .list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  a.list-group-item,
  .list-group-item-action {
    color: #404040;
    font-weight: 600;
  }
  .list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
  }
  .list-group-item.active:not(.disabled)::before {
    background-color: rgb(91, 150, 105);
  }

  .list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: "";
  }
}
